body {
    background: #D9D7D7 no-repeat  fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
#registerationFormContanier {
    background-color: rgba( 255, 255, 255, 0.7);
    margin-top: 2vh;
}
#middleContainer{
    margin-top: 3.5%;
}

.spinner {
    position: fixed;
    width: 100%;
    height: calc(100% - 8vh);
    background: rgba(255, 255, 255, 0.9)  center center no-repeat;
}

.start-50 {
    margin-left: -5%;
}
.navbar-brand {
    margin-left: 1%;
}